In [1]:
# 1) Import pandas and read in the banklist.csv file into a dataframe called banks.
import pandas as pd
df = pd.read_csv('C:/Users/HP/OneDrive/Desktop/Data Analysis/Assessment/banklist.csv')
print(df)

                                             Bank Name                City  \
0                                  Fayette County Bank          Saint Elmo
1    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...           Milwaukee
2                                       First NBC Bank         New Orleans
3                                        Proficio Bank  Cottonwood Heights
4                        Seaway Bank and Trust Company             Chicago
..                                                 ...                 ...
548                                 Superior Bank, FSB            Hinsdale
549                                Malta National Bank               Malta
550                    First Alliance Bank & Trust Co.          Manchester
551                  National State Bank of Metropolis          Metropolis
552                                   Bank of Honolulu            Honolulu

     ST   CERT                Acquiring Institution Closing Date Updated Date
0    IL   1802            United Fidelity Bank, fsb    26-May-17    26-Jul-17
1    WI  30003  First-Citizens Bank & Trust Company     5-May-17    26-Jul-17
2    LA  58302                         Whitney Bank    28-Apr-17    26-Jul-17
3    UT  35495                    Cache Valley Bank     3-Mar-17    18-May-17
4    IL  19328                  State Bank of Texas    27-Jan-17    18-May-17
..   ..    ...                                  ...          ...          ...
548  IL  32646                Superior Federal, FSB    27-Jul-01    19-Aug-14
549  OH   6629                    North Valley Bank     3-May-01    18-Nov-02
550  NH  34264  Southern New Hampshire Bank & Trust     2-Feb-01    18-Feb-03
551  IL   3815              Banterra Bank of Marion    14-Dec-00    17-Mar-05
552  HI  21029                   Bank of the Orient    13-Oct-00    17-Mar-05

[553 rows x 7 columns]

In [2]:
# 2) Show the head of the dataframe.
df.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,26-Jul-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,26-Jul-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,26-Jul-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

In [5]:
# 3) What are the column names?
df.columns()

TypeError: 'Index' object is not callable

In [6]:
df.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

In [8]:
# 4) How many States (ST) are represented in this data set?
df['ST'].unique().shape[0]

44

In [9]:
# 5) Get a list or array of all the states in the data set.
df['ST'].unique()

array(['IL', 'WI', 'LA', 'UT', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WA', 'CO',
       'PR', 'FL', 'MN', 'CA', 'MD', 'OK', 'OH', 'SC', 'VA', 'ID', 'TX',
       'CT', 'AZ', 'NV', 'NC', 'KY', 'MO', 'KS', 'AL', 'MI', 'IN', 'IA',
       'NE', 'MS', 'NM', 'OR', 'NY', 'MA', 'SD', 'WY', 'WV', 'NH', 'HI'],
      dtype=object)

In [11]:
# 6) What are the top 5 states with the most failed banks?
df['ST'].value_counts().head()

ST
GA    93
FL    75
IL    68
CA    41
MN    23
Name: count, dtype: int64

In [13]:
# 7) What are the top 5 acquiring institutions?
df['Acquiring Institution'].value_counts().head()

Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

In [15]:
# 8) How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?
df[df['Acquiring Institution'] = 'State Bank of Texas']

SyntaxError: cannot assign to subscript here. Maybe you meant '==' instead of '='? (2391820365.py, line 2)

In [16]:
df[df['Acquiring Institution'] == 'State Bank of Texas']

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17
21,The National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14,6-Jan-16
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12

In [18]:
len(df[df['Acquiring Institution'] == 'State Bank of Texas'])

3

In [23]:
df[df['ST'] == 'TX']

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
37,"Texas Community Bank, National Association",The Woodlands,TX,57431,"Spirit of Texas Bank, SSB",13-Dec-13,29-Dec-14
39,First National Bank also operating as The Nati...,Edinburg,TX,14318,PlainsCapital Bank,13-Sep-13,27-May-15
130,First International Bank,Plano,TX,33513,American First National Bank,30-Sep-11,5-Feb-15
343,The La Coste National Bank,La Coste,TX,3287,Community National Bank,19-Feb-10,19-Aug-14
386,North Houston Bank,Houston,TX,18776,U.S. Bank N.A.,30-Oct-09,22-Aug-12
387,Madisonville State Bank,Madisonville,TX,33782,U.S. Bank N.A.,30-Oct-09,22-Aug-12
388,Citizens National Bank,Teague,TX,25222,U.S. Bank N.A.,30-Oct-09,22-Aug-12
420,Guaranty Bank,Austin,TX,32618,BBVA Compass,21-Aug-09,21-Aug-12
450,Millennium State Bank of Texas,Dallas,TX,57667,State Bank of Texas,2-Jul-09,26-Oct-12
501,Sanderson State Bank,Sanderson,TX,11568,The Pecos County State Bank,12-Dec-08,25-Oct-13
508,"Franklin Bank, SSB",Houston,TX,26870,Prosperity Bank,7-Nov-08,16-Aug-12
545,Bank of Sierra Blanca,Sierra Blanca,TX,22002,The Security State Bank of Pecos,18-Jan-02,6-Nov-03

In [28]:
len(df[(df['Acquiring Institution'] == 'State Bank of Texas') & (df['ST'] == 'TX')])

1

In [32]:
# 9) What is the most common city in California for a bank to fail in?
df[df['ST'] == 'CA']['City'].value_counts().iloc[0]

4